<ion-header-bar class="bar-positive">
	<div class="buttons">
		<ion-header-back-button>
		</ion-header-back-button>
	</div>
		<h1 class="title">{{"Страница" + question.task + ". Вопрос " + question.number}}</h1>
</ion-header-bar>
<ion-view view-title="Question Editor" name="QuestionEdit" ng-init=openQuestion()>
<ion-content class="padding">
	
	<div>			
		<div class="list">
<!-- 		 	**Старый способ выбора типа вопроса** -->

			<!--<label class="item item-input item-select">
				<div class="input-label">
					Тип вопроса:
				</div>
				<select>
					<option selected>{{question.type}}</option>
					<option ng-show="question.type != 1">1 (Обычное текстовое или числовое поле ввода)</option>
					<option ng-show="question.type != 2">2 (Выбрать один правильный ответ)</option>
					<option ng-show="question.type != 4">4 (QR-код)</option>
				</select>
			</label>-->
			<div class="input-label">
				Тип вопроса: {{type.id}} -- {{type.desc}}
			</div>
			<select ng-model="question.type" ng-options="type.id for type in types" ng-change="onTypeChange(question)">
				<!--<option ng-repeat="type in types" value="type.id">{{type.id + ' (' + type.desc + ')'}}</option>-->
			</select>
<!-- 				 **1/3. Обработка простого текстового вопроса или qr-кода. **-->
			
					<label class="item item-input item-stacked-label">
						<span class="input-label">Вопрос:</span>
						<input type="text" placeholder={{question.question}} ng-model="question.question">
					</label>
					<ion-list>
						<ion-item ng-repeat="answer in answers">
							<label ng-show="question.type == 1 || question.type == 4" class="item item-input item-stacked-label">
								<span class="input-label">Ответ:</span>
								<input type="text" placeholder={{answer.answer}} ng-model="answer.answer">
							</label>
			
<!-- 				 **2. Обработка 3 по 3-->
			
							<label ng-show="question.type == 3" class="item item-input item-stacked-label">
								<span class="input-label">{{"Ответ " + ($index + 1)}}</span>
								<input type="text" placeholder={{answer.answer}} ng-model="answer.answer">
							</label>
						</ion-item>
					</ion-list>
					<label ng-if="question.type == 3" class="item item-input item-select">
						<div class="input-label">
							Правильный ответ:
						</div>
						<select ng-model="answer.valid">
							<option ng-repeat="answer in answers" value="{{answer.answer}}">{{answer.answer}}</option>
							
						</select>
					</label>
			
			
		</div>
	</div>
</ion-content>