.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.text {
    text-align:  center;
   }
.right {
  margin-left: auto;
  display: block;
}

.login {
  background: url('/img/texture.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

